# 依赖目录
node_modules/

# 编译输出
dist/

# 日志
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 运行时数据
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE和编辑器
.idea/
.vscode/
*.swp
*.swo 
.cursor/

# 数据库
prisma/generated/
prisma/dev.db

#demo
public/tool-event-demo.html
